
li{
  list-style: none;
}
a{
  text-decoration: none;
}
nav{
  z-index: 10001;
}
nav ul li{
  display: inline-block;
  padding: 1rem;
}
nav ul li a{
 color: #000;
}
nav ul li a:hover{
  text-decoration:underline overline;
  color: #19bd86;
 }
 .navbar{
  padding: 10px 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .navicon{
  display: none;
  cursor: pointer;
 }
 .navlink{
  list-style: none;
  display: flex;
  align-items: center;
 }
 .navlink.visible{
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 0;
  width: 100%;
  background-color: #495e57;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
 }

 .hero{
  background-color: #495e57;
  padding: 40px 0;
 }

 .hero section {
  color: #edefee;
  padding: 10px 13%;
  position: relative;
 }
 h2{
  color: #f4ce14;
  font-size: 40px;
 }
 h3{
  font-size: 25px;
 }
 .hero p{
  font-size: 20px;
  max-width: 520px;
  line-height: 1.5;
  margin-bottom: 30px;
 }
 .heroimg {
  position: absolute;
  right: 13%;
  top: 15%;
  width: 300px;
 }
 .heroimg img{
  width: 100%;
  height: 280px;
  border-radius: 20px;
 
 }
 button{
  background-color: #f4ce14;
  color: #000;
  padding: 14px 18px;
  border: none;
  text-decoration: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
 }
 
.special{
  margin: 110px auto;
  padding: 10px 13%;
}
.spical-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.spical-title h1{
  font-size: 50px;
}
.cards{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap:2rem 1rem;

}
.card{
  width: 350px;
  background-color: #c1c1c1;
  border-radius: 8px;
  
}
.special img{
  width: 100%;
  height: 233%;
  border-radius: 8px;
}
.content{
  padding: 5px 15px;
}
.content.head{
  display: flex;
  justify-content: space-between;
}
 .testimonial{
  background-color: #495e57;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px 14%;
  
  align-items: center;

 }
 .cardreview{
  width: 350px;
  background-color: #fffafa;
  border-radius: 8px;
  
}
 .cardreview img{
  width: 100px;
  height: 100px;
  border-radius: 80px;
  padding: 10px ;
  
  
 }
 /*the owners story*/
 .aboutus{
  padding: 200px 13%;
  position: relative;
  
 }
 .theowner{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  position: absolute;
  right: 13%;
   top: 10%;
  gap: 1rem;

 }
 .theowner img{
  width: 425px;
  height: 283px;
  border-radius: 8px;

  
 }
 .backstory h1{
  color: #f4ce14;
  font-size: 50px;
 }
 .backstory h2{
  color:#495e57;
  font-size: 25px;

 }
 .backstory p{
  font-size: 20px;
  max-width: 520px;
  line-height: 1.5;
  margin-bottom: 30px;
  color: #495e57;
 }
 /*form resevation*/
 .forma{
  background-color: #e0e9e6;
 }
 .forma h1{
  color: #EDEFEE;
  background-color: #495e57;
  text-align: center;
 }
 form{
 width: 5px;
 height: 1000px;
    margin: 8px 0;
    padding: 8px 460px;
}

fieldset{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 10px 0;
 border: none;
}
input{
  width: 100%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
border-radius: 5px;
}
label{
font-size: 20px;
color: #495e57;
}
.btn{
  background-color: #f4ce14;
  color: #495e57;
  border: none;
}
.btn:active{
  background-color: #495e57;
  color: #EDEFEE;
}
select{
  width: 500px;
  padding: 16px 20px;
  border-radius: 4px;
  background-color: #f1f1f1;
}
.confirm{
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.confirm div img{
  width: 100px;
  height: 100px;
  
}
 /*footer*/
 .foot {
  background-color: #c1c1c1;
  color: #000000;
  padding: 10px 13%;
  display: grid;
  grid-template-columns: auto auto auto;
  flex-direction: column;
 }
 .foot img{
  height: 100px;
  width: 200px;
 }
 .foot nav ul li{
  display: flex;
  text-decoration: underline solid #000;
}
@media (max-width: 960px) {
  .testimonial{
   flex-direction: column;  
   }  
   .navlink{
    display: none;
   }
   .navicon{
    display: block;
   }
   .navlink.visible{
    display: flex;
    background-color: #333333;
    z-index: 1000;
    padding: 20px 0;
    
   }
   .nav ul li a{
    color: #EDEFEE;
   }
   .heroimg{
    display: none;
   }
   .foot{
    padding: 10px 8%;
    
   }
   .foot {
    background-color: #c1c1c1;
    color: #000000;
    padding: 10px 13%;
    grid-template-columns: auto;
    grid-template-rows: repeat(3,1fr);
   }
   .foot img{
    height: 100px;
    width: 500px;
   }
   .theowner{
   display: none;
   }
   .special{
    padding: 10px 8%;
    margin: 20px 0;
   }
   .head{
    justify-content: flex-start;
   }
   .card{
    width: 100%;
   }
  
  }
/* inprogress page*/
  h1{
    color: #495e57;
    
    padding: 100px 14%;
  }
 